<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736204319157-23ie0thn1pauiqf492uml4fqo16ve9is.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736204319157-23ie0thn1pauiqf492uml4fqo16ve9is</string>
	<key>API_KEY</key>
	<string>AIzaSyBf0i-ijLAE0ShypXA0HqsEpuW2LxUk9oQ</string>
	<key>GCM_SENDER_ID</key>
	<string>736204319157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobEndear</string>
	<key>PROJECT_ID</key>
	<string>jobendear-ae2f3</string>
	<key>STORAGE_BUCKET</key>
	<string>jobendear-ae2f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736204319157:ios:ebce5d3aab5977a5f591fc</string>
</dict>
</plist>